// bower:scss
// endbower

/*
 * Fonts
 */
$soleil: 'soleil', sans-serif;

/*
 * Colors
 */
$low: #F79682;
$regular: #F7BC1C;
$high: #1FE6A8;

* {
  // Box Model
  box-sizing: border-box;

  // Typography
  -webkit-font-smoothing: antialiased;

  // Visual
  outline: none;
}

body {
  // Typography
  font-family: $soleil;
  font-weight: 400;
  font-size: 16px;

  // Visual
  background-color: #E5E5E5;
}

.container {
  // Box Model
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;

  // Visual
  overflow: auto;
}

.login {
  // Box Model
  display: block;
  width: 515px;
  height: auto;
  padding-top: 60px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-left: 50px;

  // Visual
  background-color: #fff;

  &__header {
    // Box Model
    display: block;
    width: 100%;
    margin-bottom: 40px;

    // Typography
    text-align: center;
  }

  &__form {
    // Box Model
    display: block;
    width: 100%;
  }
}

.form {
  // Box Model
  display: block;
  width: 100%;

  label {
    // Box Model
    display: block;
    width: 100%;
    margin-bottom: 8px;

    // Typography
    font-size: 16px;
    color: #696D8C;
  }

  &__group {
    // Box Model
    margin-top: 25px;

    &:first-child {
      // Box Model
      margin-top: 0;
    }
  }

  &__input {
    // Box Model
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #B6B9D0;

    // Visual
    transition: all .4s ease-out;

    &--low {
      // Box Model
      border-color: #f79682;
    }

    &--medium {
      // Box Model
      border-color: #F7BC1C;
    }

    &--high {
      // Box Model
      border-color: #1FE6A8;
    }

    &:focus {
      // Box Model
      border-color: darken(#B6B9D0, 30%);
    }
  }
}

.password {
  // Box Model
  display: block;
  width: 100%;
  margin-top: 10px;

  &__bar {
    // Box Model
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__level {
    // Box Model
    display: block;
    width: 32%;
    height: 8px;
    border-radius: 10px;

    // Visual
    background-color: #EAEAF4;
    transition: all .4s ease-out;
  }

  &__list {
    // Box Model
    padding: 0;
    list-style-type: none;
  }

  &__item {
    // Position
    position: relative;

    // Box Model
    margin-top: 12px;
    padding-left: 15px;

    // Typography
    color: #696D8C;

    &:first-child {
      // Box Model
      margin-top: 0;
    }

    &:before {
      // Position
      position: absolute;
      top: 10px;
      left: 0;

      // Box Model
      display: block;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      border-radius: 50%;

      // Visual
      background-color: #F79682;
      transition: all .4s;
      content: '';
    }

    &--verify {

      &:before {
        // Visual
        background-color: #1FE6A8;
      }
    }

    &--equal {
      // Box Model
      display: none;
    }
  }
}

.btn {
  // Box Model
  display: inline-block;
  padding: 15px;
  border: none;

  // Typography
  font-family: $soleil;
  font-size: 18px;
  font-weight: 700;
  text-align: center;

  // Visual
  background-color: transparent;
  transition: all .4s ease-out;
  cursor: pointer;

  &--full {
    // Box Model
    display: block;
    width: 100%;
  }

  &__green {
    // Box Model
    width: 100%;

    // Typography
    color: #fff;

    // Visual
    background-color: #17D499;

    &:hover {
      // Visual
      background-color: darken(#17D499, 10%);
    }
  }
}

@media screen and (max-height: 680px) {
  .container {
    // Box Model
    align-items: flex-start;
  }
}

@media screen and (max-width: 520px) {
  .container {
    // Box Model
    padding: 0;
  }

  .login {
    // Box Model
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}
